{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
body, p {
    padding-top: 10%;
}


</style>
<div class="container">

    <!-- MESSAGE -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{message.tags}} alert-dismissible fade show mb-0" role="alert">
        <strong>
            {{message}}
        </strong>
<!--        <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
    </div>
    {% endfor %}
    {% endif %}
</div>
<form method="POST">
    {% csrf_token %}
    <div class="container">
        <h2>UPDATE DETAILS</h2>

        <label>House Number</label>
        <input type="text" name="house" required value="{{house_number}}"/>

        <div id="cts_id" style=";">
            <label>CTS number</label>
            <input type="text" name="cts" required value="{{cts_number}}"/>
        </div>

        <div id="room_id" style=";">
            <label>Room number</label>
            <input type="text" name="room" required value="{{room_number}}"/>
        </div>

        <div id="tenant_id" style=";">
            <label>Tenant name</label>
            <input type="text" name="tenant_name" required value="{{tenant_name}}"/>
            <div>
                <label>Tenant Permanent Address</label>
                <input type="text" name="permanent_address" required value="{{tenant_permanent_address}}"/>
            </div>
            <label>Tenant Date of Death</label>
            <input type="date" name="tenant_dod" value="{{tenant_dod}}"/>

            <div>
                <label>Tenant Gender</label>
                <input type="radio" id="tenant_gender_male" name="tenant_gender" value="Male" required checked>
                <label for="tenant_gender_male">Male</label><br>
                <input type="radio" id="tenant_gender_female" name="tenant_gender" value="Female" required>
                <label for="tenant_gender_female">Female</label><br>
            </div>
            <div>
                <label>Tenant Mobile Number: +91</label>
                <input type="tel" placeholder="9876543210" pattern="[0-9]{10}" name="tenant_mobile_number" value="{{tenant_mobile_number}}"/><br>
            </div>
        </div>

        <div id="submit_id" style=";">
            <input type="submit"/>
        </div>
    </div>
</form>
<br>


<br>
<br>
{% endblock %}
