{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">

  <!-- MESSAGE -->
  {% if messages %}
  {% for message in messages %}
  <div class="alert {{message.tags}} alert-dismissible fade show mb-0" role="alert">
    <strong>
      {{message}}
    </strong>
    <!--        <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
    <!--            <span aria-hidden="true">&times;</span>-->
    <!--        </button>-->
  </div>
  {% endfor %}
  {% endif %}
</div><br>

<style>
      label {
        display: inline-block;
        }
</style>

<div class="containerx">
  <div class="title">
    <div id="divAdd">
      MASTER ENTRY - ADD
    </div>
    <div id="divUpdate" hidden="hidden">
      MASTER ENTRY - UPDATE
    </div>
  </div>
  <div class="content">
    <form method="POST" id="masterForm" action="#">
      {% csrf_token %}
      <div class="user-details">
        <div class="input-box">
          <label for="browser">House Number</label>
          <input onchange="getRoomCtsList()" list="browsers" name="house" id="browser" required>
          <datalist id="browsers">
            {% for i in temp %}
            <option value="{{ i }}">
              {% endfor %}
          </datalist>
        </div>
        <div class="input-box">
          <label for="room_id">Room Number</label>
          <input list="room_list" name="room" id="room_id" required>
          <datalist id="room_list">
          </datalist>
        </div>
        <div class="input-box">
          <label for="cts_id">CTS Number</label>
          <input list="cts_list" name="cts" id="cts_id" required>
          <datalist id="cts_list">
          </datalist>
        </div>
        <div class="input-box" style="width: 100%;">
          <label for="tenant_id" class="details">Tenant Name</label>
          <input id="tenant_id" type="text" name="tenant_name" required />
        </div>
        <div class="input-box" style="width: 48%;">
          <label for="ten_mn" class="details">Tenant Mobile Number</label>
          <input id="ten_mn" type="tel" pattern="[0-9]{10}" name="tenant_mobile_number" />
        </div>
        <div class="input-box" style="width: 48%;">
          <label for="ten_dod" class="details">Tenant Date of Death</label>
          <input id="ten_dod" type="date" name="tenant_dod" />
        </div>

        <div class="input-box" style="width: 100%;">
          <label for="per_adr" class="details">Notes</label>
          <input id="per_adr" type="text" name="permanent_address" />
        </div>
      </div>

      <div class="user-details">
        <label for="tenant_gender_male">Tenant Gender</label>
        <input type="radio" style="margin: 3px;" id="tenant_gender_male" name="tenant_gender" value="Male" required>
        <label for="tenant_gender_male">Male</label><br>
        <input type="radio" style="margin: 3px;" id="tenant_gender_female" name="tenant_gender" value="Female" required>
        <label for="tenant_gender_female">Female</label><br>
      </div>

      <div class="button" onclick="confirmAction()">Submit</div>
    </form>
  </div>
</div>


<br>
<div>
<input style="width: 90%; margin: auto auto auto 5%;" type="text" id="myInput" onkeyup="searchTable()" placeholder="Search the table..." title="Type in here">
  {% if master_df %}
  {{ master_df | safe}}
  {% endif %}
</div>
<br><br><br><br>


<script>
  function updateMaster(t_id) {
    hideShowDiv("divAdd", "Hide");
    hideShowDiv("divUpdate", "Show");
    $.post("/crud_operation/",
      {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        't_id': t_id,
      },
      function (data) {
        if (Object.keys(data).length > 1) {
          document.getElementById("masterForm").reset();
          document.getElementById("browser").value = data['house_number'];
          document.getElementById("tenant_id").value = data['tenant_name'];
          document.getElementById("room_id").value = data['room_number'];
          document.getElementById("cts_id").value = data['cts_number'];
          document.getElementById("ten_mn").value = data['tenant_mobile_number'];
          document.getElementById("ten_dod").value = data['tenant_dod'];
          document.getElementById("per_adr").value = data['tenant_permanent_address'];
          if (data['tenant_gender'] == "Male") {
            document.getElementById("tenant_gender_male").checked = true;
          } else {
            document.getElementById("tenant_gender_female").checked = true;
          }

        } else {
          alert('Data fetch failed, please refresh the page and try again.');
        }
        topFunction();
      }
    );
  }

  function getRoomCtsList() {
    var house_val = document.getElementById("browser").value;
    let room_list = document.getElementById("room_list");
    let cts_list = document.getElementById("cts_list");

    while (room_list.firstChild) {
      room_list.removeChild(room_list.firstChild);
    }
    while (cts_list.firstChild) {
      cts_list.removeChild(cts_list.firstChild);
    }

    $.post("{% url 'room_cts_list' %}",
      {
        csrfmiddlewaretoken: '{{ csrf_token}}',
        'house_val': house_val,
      },
      function (data) {
        console.log(data);

        if (data['all_room_num'].length > 0) {
          for (let r = 0; r < data['all_room_num'].length; r++) {
            let li = document.createElement("option");
            li.innerText = data['all_room_num'][r];
            room_list.appendChild(li);
          }
        } else {
          alert('Room Data fetch failed, please refresh the page and try again.');
        }

        if (data['all_cts_num'].length > 0) {
          for (let r = 0; r < data['all_cts_num'].length; r++) {
            let li = document.createElement("option");
            li.innerText = data['all_cts_num'][r];
            cts_list.appendChild(li);
          }
        } else {
          alert('CTS Data fetch failed, please refresh the page and try again.');
        }

      }
    );
  }


function searchTable(){
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("masterTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td") ;
    for(j=0 ; j<td.length ; j++)
    {
      let tdata = td[j] ;
      if (tdata) {
        if (tdata.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
          break ;
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
}

</script>


{% endblock content %}
