{% extends "base.html" %}
{% load static %}

{% block content %}

<!--<style>-->
<!--    .table {-->
<!--        width: 85%;-->
<!--        margin: auto;-->
<!--    }-->

<!--    thead {-->
<!--        color: white;-->
<!--        background: linear-gradient(135deg, #CC2973, #4555D2);-->

<!--    }-->

<!--    th {-->
<!--        text-align: center;-->
<!--    }-->

<!--    td {-->
<!--        text-align: center;-->
<!--    }-->

<!--    body {-->
<!--        margin-top: 10%;-->
<!--        justify-content: center;-->
<!--        align-items: center;-->
<!--    }-->

<!--    .containerx {-->

<!--        display: block;-->
<!--        margin: auto;-->
<!--        max-width: 700px;-->
<!--        width: 80%;-->
<!--        background-color: #fff;-->
<!--        padding: 25px 30px;-->
<!--        border-radius: 5px;-->
<!--        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);-->
<!--    }-->

<!--    .containerx .title {-->
<!--        text-align: center;-->
<!--        font-size: 27px;-->
<!--        font-weight: bold;-->
<!--        position: relative;-->
<!--    }-->

<!--    .content form .user-details {-->
<!--        display: flex;-->
<!--        flex-wrap: wrap;-->
<!--        justify-content: space-between;-->
<!--        margin: 20px 0 12px 0;-->
<!--    }-->

<!--    form .user-details .input-box {-->
<!--        margin-bottom: 15px;-->
<!--        width: calc(100% / 2 - 20px);-->
<!--    }-->

<!--    form .input-box span.details {-->
<!--        display: block;-->
<!--        font-weight: 500;-->
<!--        margin-bottom: 5px;-->
<!--    }-->

<!--    .user-details .input-box input {-->
<!--        height: 45px;-->
<!--        width: 100%;-->
<!--        outline: none;-->
<!--        font-size: 16px;-->
<!--        border-radius: 5px;-->
<!--        padding-left: 15px;-->
<!--        border: 1px solid #ccc;-->
<!--        border-bottom-width: 2px;-->
<!--        transition: all 0.3s ease;-->
<!--    }-->

<!--    .user-details .input-box input:focus,-->
<!--    .user-details .input-box input:valid {-->
<!--        border-color: #9b59b6;-->
<!--    }-->

<!--    form .gender-details .gender-title {-->
<!--        font-size: 20px;-->
<!--        font-weight: 500;-->
<!--    }-->

<!--    form .category {-->
<!--        display: flex;-->
<!--        width: 80%;-->
<!--        margin: 14px 0;-->
<!--        justify-content: space-between;-->
<!--    }-->

<!--    form .category label {-->
<!--        display: flex;-->
<!--        align-items: center;-->
<!--        cursor: pointer;-->
<!--    }-->

<!--    form .button {-->
<!--        height: 45px;-->
<!--        margin: 35px 0-->
<!--    }-->

<!--    form .button input {-->
<!--        height: 100%;-->
<!--        width: 100%;-->
<!--        border-radius: 5px;-->
<!--        border: none;-->
<!--        color: #fff;-->
<!--        font-size: 18px;-->
<!--        font-weight: 500;-->
<!--        letter-spacing: 1px;-->
<!--        cursor: pointer;-->
<!--        transition: all 0.3s ease;-->
<!--        background: linear-gradient(135deg, #CC2973, #4555D2);-->
<!--    }-->

<!--    form .button input:hover {-->
<!--        /* transform: scale(0.99); */-->
<!--        background: linear-gradient(-135deg, #CC2973, #4555D2);-->
<!--    }-->

<!--    @media(max-width: 584px) {-->
<!--        .containerx {-->
<!--            max-width: 100%;-->
<!--        }-->

<!--        form .user-details .input-box {-->
<!--            margin-bottom: 15px;-->
<!--            width: 100%;-->
<!--        }-->

<!--        form .category {-->
<!--            width: 100%;-->
<!--        }-->

<!--        .content form .user-details {-->
<!--            max-height: 300px;-->
<!--            overflow-y: scroll;-->
<!--        }-->

<!--        .user-details::-webkit-scrollbar {-->
<!--            width: 5px;-->
<!--        }-->
<!--    }-->

<!--    @media(max-width: 459px) {-->
<!--        .containerx .content .category {-->
<!--            flex-direction: column;-->
<!--        }-->
<!--    }-->

<style>
  .table {
    width: 70%;
    margin: auto;
  }

  thead {
    color: white;
    background: linear-gradient(135deg, #CC2973, #4555D2);
  }

  th {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Verdana;
    font-size: 10px;
  }

  td {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Verdana;
    font-size: 12px;
  }

  body {
    margin-top: 10%;
    justify-content: center;
    align-items: center;
  }

  .containerx {

    display: block;
    margin: auto;
    max-width: 700px;
    width: 80%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }

  .containerx .title {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    position: relative;
  }

  .content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }

  form .input-box label.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .user-details .input-box input {
    height: 25px;
    width: 100%;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }

  .user-details .input-box input:focus,
  .user-details .input-box input:valid {
    border-color: #9b59b6;
  }

  form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
  }

  form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
  }

  form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  form .button {
    text-align: center;
    padding-top: 8px;
    height: 45px;
    margin: 35px 0;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #CC2973, #4555D2);
  }

  form .button:hover {
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #CC2973, #4555D2);
  }

  @media(max-width: 584px) {
    .containerx {
      max-width: 100%;
    }

    form .user-details .input-box {
      margin-bottom: 15px;
      width: 100%;
    }

    form .category {
      width: 100%;
    }

    .content form .user-details {
      max-height: 300px;
      overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
      width: 5px;
    }
  }

  @media(max-width: 459px) {
    .containerx .content .category {
      flex-direction: column;
    }
  }
</style>
<!--</style>-->
<!-- {% for i in temp %}
{{ i }}
{% endfor %} -->
<div class="container">

  <!-- MESSAGE -->
  {% if messages %}
  {% for message in messages %}
  <div class="alert {{message.tags}} alert-dismissible fade show mb-0" role="alert">
    <strong>
      {{message}}
    </strong>
    <!--        <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
    <!--            <span aria-hidden="true">&times;</span>-->
    <!--        </button>-->
  </div>
  {% endfor %}
  {% endif %}
</div>


<div class="containerx">
  <div class="title">
    <div id="divAdd"> 
      MASTER ENTRY - ADD
    </div>
    <div id="divUpdate" hidden="hidden"> 
      MASTER ENTRY - UPDATE
    </div> 
  </div>
  <div class="content">
    <form method="POST" id="masterForm" action="#">
      {% csrf_token %}
      <div class="user-details">
        <div class="input-box">
          <label for="browser">House Number</label>
          <input list="browsers" name="house" id="browser" required>
          <datalist id="browsers">
            {% for i in temp %}
            <option value="{{ i }}">
              {% endfor %}
          </datalist>
        </div>
        <div class="input-box">
          <label for="room_id" class="details">Room Number</label>
          <input id="room_id" type="text" name="room" required />
        </div>
        <div class="input-box">
          <label for="cts_id" class="details">CTS Number</label>
          <input id="cts_id" type="text" name="cts" required />
        </div>
        <div class="input-box">
          <label for="tenant_id" class="details">Tenant Name</label>
          <input id="tenant_id" type="text" name="tenant_name" required />
        </div>
        <div class="input-box">
          <label for="ten_mn" class="details">Tenant Mobile Number</label>
          <input id="ten_mn" type="tel" pattern="[0-9]{10}" name="tenant_mobile_number" />
        </div>
        <div class="input-box">
          <label for="ten_dod" class="details">Tenant Date of Death</label>
          <input id="ten_dod" type="date" name="tenant_dod" />
        </div>

        <div class="input-box" style="width: 100%;">
          <label for="per_adr" class="details">Notes</label>
          <input id="per_adr" type="text" name="permanent_address" />
        </div>
      </div>

      <div class="user-details">
        <label for="tenant_gender_male">Tenant Gender</label>
        <input type="radio" style="margin: 3px;" id="tenant_gender_male" name="tenant_gender" value="Male" required>
        <label for="tenant_gender_male">Male</label><br>
        <input type="radio" style="margin: 3px;" id="tenant_gender_female" name="tenant_gender" value="Female" required>
        <label for="tenant_gender_female">Female</label><br>
      </div>

      <div class="button" onclick="confirmAction()">Submit</div>
    </form>
  </div>
</div>


<br><br><br>
<div>
  {% if master_df %}
  {{ master_df | safe}}
  {% endif %}
</div>
<br><br><br><br>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.9/sweetalert2.all.min.js" integrity="sha512-IZ95TbsPTDl3eT5GwqTJH/14xZ2feLEGJRbII6bRKtE/HC6x3N4cHye7yyikadgAsuiddCY2+6gMntpVHL1gHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

  function confirmAction() {
    var Form = document.getElementById('masterForm');
    if (Form.checkValidity() == false) {
      var list = Form.querySelectorAll(':invalid');
      for (var item of list) {
          item.focus();
          console.log(item)
          console.log(item.id)
          var label_ = Form.querySelector('label[for=' + item.id + ']');
          console.log(label_)

          Swal.fire(item.validationMessage , label_.textContent, 'info')
          break;
      }
    } else {
      let t_name = document.getElementById("tenant_id").value
      Swal.fire({
        title: "Add New Tenant",
        text: "Are you sure you want to Add new Tenant '" + t_name + "' ?",
        icon: 'question',
        showDenyButton: true,
        confirmButtonText: 'Yes',
        denyButtonText: `No`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          Swal.fire({
            title: "New Tenant '" + t_name + "' Added Successfully!",
            showConfirmButton: false,
            timer: 1500,
            icon: 'success',
          })
          Form.submit()
          
        } else if (result.isDenied) {
          Swal.fire('New Tenant Add operation is cancelled!', '', 'error')
        }
      })
    }
  

    
  }

  function updateMaster(t_id) {
    hideShowDiv("divAdd", "Hide");
    hideShowDiv("divUpdate", "Show");
    $.post("{% url 'crud_operation' %}",
      {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        't_id': t_id,
      },
      function (data) {
        if (Object.keys(data).length > 1) {
          document.getElementById("masterForm").reset();
          document.getElementById("browser").value = data['house_number'];
          document.getElementById("tenant_id").value = data['tenant_name'];
          document.getElementById("room_id").value = data['room_number'];
          document.getElementById("cts_id").value = data['cts_number'];
          document.getElementById("ten_mn").value = data['tenant_mobile_number'];
          document.getElementById("ten_dod").value = data['tenant_dod'];
          document.getElementById("per_adr").value = data['tenant_permanent_address'];
          if (data['tenant_gender'] == "Male") {
            document.getElementById("tenant_gender_male").checked = true;
          } else {
            document.getElementById("tenant_gender_female").checked = true;
          }

        } else {
          alert('Data fetch failed, please refresh the page and try again.');
        }
      }
    );
  }

</script>

{% endblock content %}

<!-- 

  Edit operation msg remaining
 -->