{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- AJAX SELECT DEPENDENT -->
<script>
$(document).ready(function(){
   $('#house').on('change', function(e){
        var house_id = $(this).val();
        var url = '/load_cts_numbers/'
        $.ajax({
            type: 'GET',
            url: url,
            data: {'house_id': house_id},
            success: function(res){
                    queryset = JSON.parse(res);
                    $('#cts').html('');
                     content1 = '<option value="">Select CTS Number</option>'
                    $('#cts').append(content1);
                    for(i=0; i < queryset.length; i++){
                        id = queryset[i].pk;
                        name =  queryset[i].fields.cts_number
                        content = '<option value="'+ id +'">'+ name +'</option>'
                        $('#cts').append(content);
                    }
            },
            error: function(err){
                console.log(err);
            }
        });
    });
});


$(document).ready(function(){
   $('#cts').on('change', function(e){
        var cts_id = $(this).val();
        var url = '/load_room_numbers/'
        $.ajax({
            type: 'GET',
            url: url,
            data: {'cts_id': cts_id},
            success: function(res){
                    queryset = JSON.parse(res);
                    $('#room').html('');
                     content1 = '<option value="">Select Room Number</option>'
                    $('#room').append(content1);
                    for(i=0; i < queryset.length; i++){
                        id = queryset[i].pk;
                        name =  queryset[i].fields.room_number
                        content = '<option value="'+ id +'">'+ name +'</option>'
                        $('#room').append(content);
                    }
            },
            error: function(err){
                console.log(err);
            }
        });
    });
});


$(document).ready(function(){
   $('#room').on('change', function(e){
        var room_id = $(this).val();
        var url = '/load_tenant_names/'
        $.ajax({
            type: 'GET',
            url: url,
            data: {'room_id': room_id},
            success: function(res){
                    queryset = JSON.parse(res);
                    $('#tenant_name').html('');
                     content1 = '<option value="">Select Tenant Name</option>'
                    $('#tenant_name').append(content1);
                    for(i=0; i < queryset.length; i++){
                        id = queryset[i].pk;
                        name =  queryset[i].fields.tenant_name
                        content = '<option value="'+ id +'">'+ name +'</option>'
                        $('#tenant_name').append(content);
                    }
            },
            error: function(err){
                console.log(err);
            }
        });
    });
});


</script>

<div class="container">

    <!-- MESSAGE -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{message.tags}} alert-dismissible fade show mb-0" role="alert">
        <strong>
            {{message}}
        </strong>
        <!--        <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
        <!--            <span aria-hidden="true">&times;</span>-->
        <!--        </button>-->
    </div>
    {% endfor %}
    {% endif %}
</div>
<br>

<div class="containerx">
    <div class="title">
        <div>
            REPORT
        </div>
    </div>
    <div class="content">
        <form method="POST" id="reportForm">
            {% csrf_token %}
            <div class="user-details">
                <div class="input-box">
                    <label for="from_month" class="details">From Date</label>
                    <input id="from_month" type="date" name="from_date" value="{{from_date}}" required/>
                </div>

                <div class="input-box">
                    <label for="to_month" class="details">To Date</label>
                    <input id="to_month" type="date" name="to_date" required value="{{to_date}}"/>
                </div>

                <div class="input-box" id="div_house_id">
                    <label for="house" class="details">House Number</label>

                    <select name="house" id="house" style="width:100%;">
                        <option value="">Select House Number</option>
                        {% for house_number in house_obj %}
                        <option value="{{ house_number.id }}">{{house_number}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="input-box" id="div_cts_id">
                    <label for="cts" class="details">CTS Number</label>
                    <select name="cts" id="cts" style="width:100%;">
                        <option value="">Select CTS Number</option>
                    </select>
                </div>

                <div class="input-box" id="div_room_id">
                    <label for="room" class="details">Room Number</label>
                    <select name="room" id="room" style="width:100%;">
                        <option value="">Select Room Number</option>
                    </select>
                </div>

                <div class="input-box" id="div_tenant_name_id">
                    <label for="tenant_name" class="details">Tenant Name</label>
                    <select name="tenant_name" id="tenant_name" style="width:100%;">
                        <option value="">Select Tenant Name</option>
                    </select>
                </div>

                <button class="button" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

<br>

<div class="content">

    <table border="1" class="dataframe table table-bordered table-sm table-responsive-sm table-hover">
        <thead>
        <tr style="text-align: right;">
            <th>Total Bills</th>
            <th>Total Months</th>
            <th>Total Amount</th>
            <th>Total Extra Amount</th>
            <th>Grand Total Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{total_tenants}}</td>
            <td>{{total_months}}</td>
            <td>{{total_amounts}}</td>
            <td>{{total_extra_amounts}}</td>
            <td>{{grand_total}}</td>
        </tr>
        </tbody>

    </table>
    <table border="1" class="dataframe table table-bordered table-sm table-responsive-sm table-hover">

        <thead>
        <tr style="text-align: right;">
            <th>House No.</th>
            <th>Room No.</th>
            <th>CTS No.</th>
            <th>Name</th>
            <th>Rent from-to</th>
            <th>Bill for month of</th>
            <th>Book No.</th>
            <th>Bill No.</th>
            <th>Total Month</th>
            <th>@</th>
            <th>Total Amount</th>
            <th>Extra Payment</th>
            <th>Purpose</th>
            <th>Agreement Date</th>
            <th>Notes</th>
            <th>Mobile No.</th>
            <th>DOD</th>
            <!--            <th>Gender</th>-->
            <th>Received Date</th>
            <th>Bill ID</th>
            <!--          <th>Update</th>-->
        </tr>
        </thead>
        <tbody>
        {% for bill in bill_table_data %}
        <tr>
            <td>{{bill.house_number}}</td>
            <td>{{bill.room_number}}</td>
            <td>{{bill.cts_number}}</td>
            <td>{{bill.tenant_name}}</td>
            <td>{{bill.rent_from}} -to- {{bill.rent_to}}</td>
            <td>{{bill.bill_for_month_of}}</td>
            <td>{{bill.book_number}}</td>
            <td>{{bill.bill_number}}</td>
            <td>{{bill.total_months}}</td>
            <td>{{bill.at_the_rate_of}}</td>
            <td>{{bill.total_rupees}}</td>
            <td>{{bill.extra_payment}}</td>
            <td>{{bill.purpose_for}}</td>
            <td>{{bill.agreement_date}}</td>
            <td>{{bill.notes}}</td>
            <td>{{bill.tenant_mobile_number}}</td>
            <td>{{bill.tenant_dod}}</td>
            <!--                        <td>{{bill.tenant_gender}}</td>-->
            <td>{{bill.received_date}}</td>
            <td>{{bill.id}}</td>
            <!--          <td><a href="javascript:updateBill({{bill.id}});">Update</a></td>-->
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<script>
    $(document).ready(function () {
    $('#house,#room,#cts,#tenant_name').select2();
});

</script>

{% endblock content %}
