{% extends "base.html" %}
{% load static %}

{% block content %}

<!--<style>-->
<!--        table {-->
<!--            border-collapse: collapse;-->
<!--            border-bottom: 1px solid #ddd;-->
<!--        }-->
<!--        thead {-->
<!--            background-color: #333;-->
<!--            color: #fff;-->
<!--        }-->
<!--        thead,tbody {-->
<!--            display: block;-->
<!--        }-->
<!--        tr, th,td {-->
<!--            padding: 8px 10px;-->
<!--            border: 1px solid #ddd;-->
<!--            width: 200px;-->
<!--            box-sizing: border-box;-->
<!--        }-->
<!--        tbody {-->
<!--            height: 190px;-->
<!--            overflow-y: scroll-->
<!--        }-->
<!--</style>-->


<body>
<div class="container">

    <!-- MESSAGE -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{message.tags}} alert-dismissible fade show mb-0" role="alert">
        <strong>
            {{message}}
        </strong>
        <!--        <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
        <!--            <span aria-hidden="true">&times;</span>-->
        <!--        </button>-->
    </div>
    {% endfor %}
    {% endif %}
</div>
<br>


<div class="containerx">
    <div class="title">
        <div id="divAdd">
            BILL ENTRY - ADD
        </div>
        <div id="divUpdate" hidden="hidden">
            BILL ENTRY - UPDATE
        </div>
    </div>
    <div class="content">
        <form method="POST" id="billForm" action="{% url 'tenant_bill' %}">
            {% csrf_token %}
            <div class="user-details">

                <div class="input-box">
                    <label for="browser">House Number</label>
                    <input onchange="getTenantList()" list="browsers" name="house" id="browser" required>
                    <datalist id="browsers">
                        {% for i in house_ %}
                        <option value="{{ i }}">
                            {% endfor %}
                    </datalist>
                </div>

                <div id="room_id" class="input-box">
                    <label for="room_num" class="details">Room Number</label>
                    <input id='room_num' type="text" name="room" readonly="readonly"/>
                </div>

                <div id="cts_id" class="input-box">
                    <label for="cts_num" class="details">CTS Number</label>
                    <input id='cts_num' type="text" name="cts" value="{{mob_num}}" readonly="readonly"/>
                </div>

                <div class="input-box" style="width:100%;">
                    <label for="browser1">Tenant Name</label>
                    <input onchange="get_bill(event)" list="browsers1" name="tenant_name" id="browser1" required>
                    <!-- <input onchange="getAllData()" list="browsers1" name="room" id="browser1" required> -->
                    <datalist id="browsers1">
                    </datalist>
                </div>

                <div class="input-box">
                    <label for="bill_for_month_of" class="details">Bill for month of</label>
                    <input id="bill_for_month_of" type="month" name="bill_for_month_of" required/>
                </div>

                <div class="input-box">
                    <label for="bill_number" class="details">Bill Number</label>
                    <!--            <input id="bill_number" type="text" name="bill_number" required />-->
                    <!--                    <input id="bill_number" type="text" name="bill_number" value="{{last_bill_number}}"-->
                    <!--                           readonly="readonly"/>-->
                    <input id="bill_number" type="text" name="bill_number" required/>
                </div>

                <div class="input-box">
                    <label for="book_number" class="details">Book Number</label>
                    <!--            <input id="book_number" type="text" name="book_number" required />-->
                    <!--                    <input id="book_number" type="text" name="book_number" value="{{last_book_number}}"-->
                    <!--                           readonly="readonly"/>-->
                    <input id="book_number" type="text" name="book_number" required/>
                </div>

                <div class="input-box">
                    <label for="purpose_for" class="details">Purpose For</label>
                    <input id="purpose_for" type="text" name="purpose_for" required value="For Residence"/>
                </div>

                <div id="rent_for_month_from" class="input-box">
                    <label for="from_date" class="details">Rent for month of/from</label>
                    <input id="from_date" onchange="monthDiff()" type="month" name="rent_for_month_from" required/>
                </div>

                <div id="rent_for_month_to" class="input-box">
                    <label for="to_date" class="details">Rent for month to</label>
                    <input id="to_date" onchange="monthDiff()" type="month" name="rent_for_month_to" required/>
                </div>

                <div id="at_the_rate_of" class="input-box">
                    <label for="rate" class="details">@ </label>
                    <input id="rate" onchange="multiplyMonth()" type="text" name="at_the_rate_of" required/>
                </div>

                <div id="total_months" class="input-box">
                    <label for="tm" class="details">Total Months </label>
                    <input id="tm" onchange="multiplyMonth()" type="text" name="total_months" readonly="readonly"/>
                </div>

                <div id="total_rupees" class="input-box">
                    <label for="tr" class="details">Total Rupees </label>
                    <input id="tr" type="text" name="total_rupees" readonly="readonly"/>
                </div>

                <div class="input-box">
                    <label for="received_date" class="details">Received Date</label>
                    <input id="received_date" type="date" name="received_date" required/>
                </div>

                <div class="input-box">
                    <label for="extra_payment" class="details">Extra Payment</label>
                    <input id="extra_payment" type="text" name="extra_payment" value="0"/>
                </div>

                <div class="input-box">
                    <label for="agreement_date" class="details">Agreement Date</label>
                    <input id="agreement_date" type="date" name="agreement_date"/>
                </div>

                <div id="ten_mn" class="input-box">
                    <label for="mob_num" class="details">Tenant Mobile Number</label>
                    <input id="mob_num" type="tel" pattern="[0-9]{10}" name="tenant_mobile_number" readonly="readonly"/>
                </div>

                <div id="ten_dod" class="input-box">
                    <label for="date" class="details">Tenant Date of Death</label>
                    <input id="date" type="date" name="tenant_dod" readonly="readonly"/>
                </div>

                <div class="input-box" style="width: 100%;">
                    <label for="notes" class="details">Notes</label>
                    <input id="notes" type="text" name="notes"/>
                </div>
            </div>

            <div class="button" onclick="confirmBillAction()">Submit</div>
            <!--            <div id="downloadBtn" hidden="hidden" class="button">Download Bill</div> // need to write this function in views.py -->
            <div id="printBtn" hidden="hidden" class="button" onclick="printAction()">Print</div>
            <input type="hidden" id="printId" name="print">
        </form>
    </div>
</div>
<br>

<input style="width: 89%; margin: auto auto auto 5%;" type="text" id="myInput" onkeyup="searchTable()"
       placeholder="Search the table..." title="Type in here">
<div style="overflow:scroll;height:300px;width:100%;overflow:auto">
    <table id="billTable" width="100%" border="1" class="dataframe table table-bordered table-sm table-responsive-sm table-hover">
        <thead>
        <tr style="text-align: right;">
            <th>Index</th>
            <th>House No.</th>
            <th>Room No.</th>
            <th>CTS No.</th>
            <th>Name</th>
            <th>Rent from-to</th>
            <th>Bill for month of</th>
            <th>Book No.</th>
            <th>Bill No.</th>
            <th>Total Month</th>
            <th>@</th>
            <th>Total Amount</th>
            <th>Extra Payment</th>
            <th>Purpose</th>
            <th>Agreement Date</th>
            <th>Notes</th>
            <th>Mobile No.</th>
            <th>DOD</th>
            <!--            <th>Gender</th>-->
            <th>Received Date</th>
            <th>Bill ID</th>
            <th>Update</th>
        </tr>
        </thead>
        <tbody>
        {% for bill in all_bill_data %}
        <tr>
            <td><b>{{ forloop.revcounter }}</b></td>
            <td>{{bill.house_number}}</td>
            <td>{{bill.room_number}}</td>
            <td>{{bill.cts_number}}</td>
            <td>{{bill.tenant_name}}</td>
            <td>{{bill.rent_from}} -to- {{bill.rent_to}}</td>
            <td>{{bill.bill_for_month_of}}</td>
            <td>{{bill.book_number}}</td>
            <td>{{bill.bill_number}}</td>
            <td>{{bill.total_months}}</td>
            <td>{{bill.at_the_rate_of}}</td>
            <td>{{bill.total_rupees}}</td>
            <td>{{bill.extra_payment}}</td>
            <td>{{bill.purpose_for}}</td>
            <td>{{bill.agreement_date}}</td>
            <td>{{bill.notes}}</td>
            <td>{{bill.tenant_mobile_number}}</td>
            <td>{{bill.tenant_dod}}</td>
            <!--                        <td>{{bill.tenant_gender}}</td>-->
            <td>{{bill.received_date}}</td>
            <td>{{bill.id}}</td>
            <td><a href="javascript:updateBill({{bill.id}});">Update</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<script>
    document.getElementById("rate").value = 350;
    document.getElementById("printId").value = "";

    function getTenantList() {
      var x = document.getElementById("browser").value;
      let list = document.getElementById("browsers1");

      while (list.firstChild) {
        list.removeChild(list.firstChild);
      }

      document.getElementById("browser1").value = '';

      $.post("{% url 'name_room_list' %}",
        {
          csrfmiddlewaretoken: '{{ csrf_token}}',
          'h_num': x,
        },
        function (data) {
          console.log(data);

          if (data['tname_room'].length > 0) {

            for (let r = 0; r < data['tname_room'].length; r++) {
              let li = document.createElement("option");
              li.innerText = data['tname_room'][r];
              list.appendChild(li);
            }
          } else {
            alert('Data fetch failed, please refresh the page and try again.');
          }

        }
      );
    }

    function get_bill(e) {
      house_num = document.getElementById("browser").value;
      var ten_name = document.getElementById("browser1").value;

      var n_ = ten_name.split('---')[0]
      var r_ = ten_name.split('---')[1]
      $.post("{% url 'get_old_bill' %}",
        {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          'house_num': house_num,
          'name': n_,
          'room': r_,
        },
        function (data) {
          if (Object.keys(data).length > 4) {
            document.getElementById("billForm").reset();
            document.getElementById("browser").value = house_num;
            document.getElementById("browser1").value = n_;
            document.getElementById("room_num").value = r_;
            document.getElementById("cts_num").value = data['cts'];
            document.getElementById("mob_num").value = data['tmn'];
            document.getElementById("date").value = data['tdod'];
            document.getElementById("bill_for_month_of").value = data['bfm'];
            document.getElementById("book_number").value = data['bkn'];
            document.getElementById("bill_number").value = data['bln'];
            document.getElementById("purpose_for").value = data['pf'];
            document.getElementById("from_date").value = data['rfm'];
            document.getElementById("to_date").value = data['rto'];
            document.getElementById("rate").value = data['atr'];
            document.getElementById("tm").value = data['tmnth'];
            document.getElementById("tr").value = data['trp'];
            document.getElementById("extra_payment").value = data['expm'];
            document.getElementById("received_date").value = data['rdte'];
            document.getElementById("agreement_date").value = data['agdt'];
            document.getElementById("notes").value = data['note'];
          } else if (Object.keys(data).length == 3) {
            document.getElementById("billForm").reset();
            document.getElementById("rate").value = 350;
            document.getElementById("browser").value = house_num;
            document.getElementById("browser1").value = n_;
            document.getElementById("room_num").value = r_;
            document.getElementById("cts_num").value = data['cts'];
            document.getElementById("mob_num").value = data['tmn'];
            document.getElementById("date").value = data['tdod'];

          } else {
            alert('Data fetch failed, please refresh the page and try again.');
          }
        }
      );
    }

    function updateBill(bill_id) {
      hideShowDiv('divAdd', "Hide");
      hideShowDiv('printBtn', "Show");
      hideShowDiv('divUpdate', "Show");

      readOnly("browser")
      readOnly("browser1")
      readOnly("room_num")
      readOnly("cts_num")
      readOnly("tm")
      readOnly("tr")
      readOnly("bill_number")
      readOnly("book_number")

      $.post("{% url 'tenant_bill_crud' %}",
        {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          'bill_id': bill_id,
        },
        function (data) {
          if (Object.keys(data).length > 1) {
            document.getElementById("billForm").reset();
            document.getElementById("browser").value = data['house_number'];
            document.getElementById("browser1").value = data['tenant_name'];
            document.getElementById("room_num").value = data['room_number'];
            document.getElementById("cts_num").value = data['cts_number'];
            document.getElementById("mob_num").value = data['tenant_mobile_number'];
            document.getElementById("date").value = data['tenant_dod'];
            document.getElementById("bill_for_month_of").value = data['bill_for_month_of'];
            document.getElementById("book_number").value = data['book_number'];
            document.getElementById("bill_number").value = data['bill_number'];
            document.getElementById("purpose_for").value = data['purpose_for'];
            document.getElementById("from_date").value = data['rent_from'];
            document.getElementById("to_date").value = data['rent_to'];
            document.getElementById("rate").value = data['at_the_rate_of'];
            document.getElementById("tm").value = data['total_months'];
            document.getElementById("tr").value = data['total_rupees'];
            document.getElementById("extra_payment").value = data['extra_payment'];
            document.getElementById("received_date").value = data['received_date'];
            document.getElementById("agreement_date").value = data['agreement_date'];
            document.getElementById("notes").value = data['notes'];
          } else {
            alert('Data fetch failed, please refresh the page and try again.');
          }
          topFunction();
        }
      );
    }


function searchTable(){
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("billTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td") ;
    for(j=0 ; j<td.length ; j++)
    {
      let tdata = td[j] ;
      if (tdata) {
        if (tdata.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
          break ;
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
}


</script>

<br><br><br>
</body>
{% endblock content %}
